@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
    z-index: 2;
}


.nav-list li {
    list-style: none;
    padding: 25px;

}

.nav-list li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.nav-list li a:hover {
    color: yellow;

}

.nav-list {
    justify-content: space-around;
    display: flex;
    width: 70%;
    align-items: center;
}

.nav-list li:hover {
    transform: scale(1.3);
}

.rightNav {
    width: 30%;
    text-align: right;
    padding-right: 10px;

}

.logo {
    width: 15%;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.resp-logo {
    display: none;
    left: 5%;
    top: 10px;
    position: absolute;

}

.logo img {
    width: 33%;
    border: 2px solid white;
    border-radius: 150px;
}

#search {

    padding: 5px;
    font-size: 17px;
    border: 2px solid gray;
    border-radius: 9px;
}

.btn {
    color: white;
    padding: 5px 15px;
    border: 2px solid white;
    border-radius: 5px;
    background: transparent;
}

.btn:hover {
    background-color: rgba(70, 143, 70, 0.669);
}

.background {
    background: rgba(0, 0, 0, 0.7) url(city.jpg);
    background-size: cover;
    background-blend-mode: darken;
    align-items: center;
}




.icon {
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 20px;
}

.line {
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 3px 3px;
}

/* ---------------------About---------------------- */
.about_section {
    background-color: rgba(181, 199, 193, 0.398);
}

.about_container {
    width: 65%;
    height: auto;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    padding: 30px;
    color: rgba(61, 56, 56, 0.947);
}

/* ----------- first section---------------- */
.text-big {

    font-size: 30px;
}

.text-small,
p {

    font-size: 20px;
}

.main-box {
    color: white;
    width: 60%;
    display: flex;
    padding-top: 200px;
    margin: auto;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
}

.firstsection {
    height: 100vh;
}

.firsthalf {
    width: 80%;
    padding: 10px;
}

.secondhalf {
    margin: 10px;
}

.secondhalf img {
    border: 2px solid white;
    border-radius: 150px;
    width: 80%;
}

.secright img:hover {
    transform: rotate(10deg);
}

/* ------------second section-------------- */

.secondsection {
    padding-top: 30px;
    width: 70%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Ubuntu', sans-serif;
    position: relative;
}

.secleft {
    margin: 20px;
    padding: 10px;
}

.reverse {
    flex-direction: row-reverse;
}

.top {
    background-color: rgba(66, 62, 62, 0.605);
    width: 4%;
    border-radius: 50%;
    color: white;
    font-weight: 600;
    text-align: center;
    font-size: 40px;
    padding: 5px;
    cursor: pointer;
    position: fixed;
    right: 10px;
    top: 550px;
    z-index: 1;
}

/* -----------------cOURSES-------------------- */
.our_course {
    background-color: azure;

}

.course_container {
    width: 80%;
    height: auto;
    margin: auto;
    padding: 0 10px 40px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-column-gap: 10px;
    grid-row-gap: 10px;

}

.course {
    width: 90%;
    padding: 10px;
    border-radius: 0 10px;
    border: 2px solid black;
    background: linear-gradient(rgba(204, 118, 200, 0.1), rgba(105, 53, 156, 0.924));
}

.course_img {
    height: 70%;
    margin: 10px;
    border: 2px solid black;
}

.course:hover {
    transform: scale(1.05);
    box-shadow: 2px 8px 10px black;
}

.course img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid black;
    cursor: pointer;
    box-sizing: border-box;
}

.course_info {
    padding: 20px;
    text-align: center;
    color: white;
    margin: 10px;
    font-weight: 600;
    font-size: large;
    border: 2px solid black;
    border-radius: 0 10px;
    background: radial-gradient(rgb(200, 32, 170), rgba(14, 14, 23, 0.595));
}

/* ------------contact------------ */

.contact {
    background: linear-gradient(rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.001), rgba(0, 0, 0, 0.2));
    height: auto;
    padding: 30px;
}

.form {
    width: 80%;
    margin: auto;
}

.title {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    margin: 20px;
    padding: 20px;
}

.form-box input,
.textarea {
    width: 100%;
    padding: 10px;

    border-color: rgb(218, 204, 204);
    border-radius: 5px;
    margin-bottom: 20px;
}

.big-btn {

    /* width: 20%; */
    color: white;
    font-size: 20px;
    padding: 7px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9));
}

.big-btn:hover {
    background-color: green;
}

.text-centre {
    text-align: center;
    font-weight: 600;
    color: white;
    padding: 20px;
    background-color: black;
}

/* --------slider-------- */
.myslider {
    height: max-content;
    background-color: lightcyan;
}

.slider-container {
    width: 100%;
    height: 90vh;
    margin-bottom: 100px;
}

.slides {
    width: 70%;
    height: 450px;
    margin: auto;
    position: relative;

}

.slides img {
    box-shadow: 1px 2px 5px 5px black;
    position: relative;
    background-color: beige;
    margin-top: 50px;
    align-items: center;
    width: 100%;
    height: 450px;
    background-position: center;
    background-size: cover;

}

.caption {
    bottom: 70px;
    position: relative;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    color: white;
    padding: 10px 0px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.308);

}

.arrow {
    cursor: pointer;
    color: white;
    background-color: rgba(28, 25, 25, 0.598);
    position: absolute;
    font-size: 32px;
    font-weight: bold;
    border-radius: 50%;
    width: 40px;
    height: 50px;
    padding-left: 20px;
    top: 250px;
}

.arrow:hover {
    transform: scale(1.1);
}

.next {
    right: 10px;

}

.prev {
    left: 10px;
}


/* ----------Responsive--------------- */

@media only screen and (max-width:1140px) {
    .nav-list {
        flex-direction: column;
        opacity: 0;
        transition: all 0.3s ease-out;
    }

    .navbar {
        background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1));
        flex-direction: column;
        transition: all 0.3s ease-out;
    }

    .rightNav {
        display: none;
    }

    .nav-list li a {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;

    }

    .icon {
        display: block;
    }

    .icon:hover {
        background-color: gray;
    }

    .logo {
        display: none;
        left: 5%;
        top: 20px;
    }

    .new-nav {
        height: 70px;
        background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8));
    }

    .new-nav-resp {
        height: 400px;
        background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7));
    }

    .vis-resp {
        opacity: 1;
    }

    .resp-logo {
        display: block;
    }

    .r-logo img {
        width: 20%;
        border: 2px solid white;
        border-radius: 150px;
    }

    .firstsection {
        height: 80vh;
    }

    .main-box {
        flex-direction: column-reverse;
        padding-top: 5px;

    }

    .firsthalf {
        margin: auto;
        font-size: 10px;
        text-align: center;
    }

    .secondhalf {
        padding-left: 22%;
        width: 100%;
    }

    .secondhalf img {
        width: 50%;
    }

    .background {
        background-position: center;
        background-size: cover;
    }

    .secondsection {
        flex-direction: column-reverse;
    }

    .secleft {
        text-align: center;
    }

    .text-big {
        font-weight: 600;
        font-size: 20px;
    }

    .text-small,
    p {

        font-size: 15px;
    }

    .slider {
        width: 70%;
        height: 40%;
    }

    .myslider {
        height: 100vh;
    }

    .about_container,
    .secondsection {
        width: 90%;

    }

    .course_container {

        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-column-gap: 5px;
        grid-row-gap: 10px;
    }

    .course {
        width: 60%;
        margin: auto;
    }

    .course_info {
        padding: 10px;
        font-size: 10px;
    }

}
